<div class="details" id="mesas" data-target="home">
    <h2>Home</h2>
    <div class="allboxes">
        
        <div class="boxed">
            <div class="box-head empreparo">
                <h4>Mesa 02</h4>
            </div>
            <div class="box-body">
                <ul>
                    <li>Burguer</li>
                    <li>Refri</li>
                    <li>Batata-frita</li>
                    <li>Onion Ring</li>
                </ul>
            </div>
        </div>
        <div class="boxed">
            <div class="box-head">
                <h4>Mesa 07</h4>
            </div>
            <div class="box-body">
                <ul>
                    <li>Burguer</li>
                    <li>Refri</li>
                    <li>Batata-frita</li>
                    <li>Onion Ring</li>
                </ul>
            </div>
        </div>
        <div class="boxed">
            <div class="box-head pronto">
                <h4>Mesa 05</h4>
            </div>
            <div class="box-body">
                <ul>
                    <li>Burguer</li>
                    <li>Refri</li>
                    <li>Batata-frita</li>
                    <li>Onion Ring</li>
                </ul>
            </div>
        </div>

    </div>
</div>