.tmp
.DS_Store
.DS_Store?
.dpl/
./vscode
dashboard/client/.vscode
dashboard/server/.vscode
dashboard/server/node_modules
dashboard/client/node_modules
dashboard/client/typings
dashboard/client/app/**/*.js
dashboard/client/app/**/*.map
dashboard/client/npm-debug.log
dashboard/server/npm-debug.log

app/client/.vscode
app/server/.vscode
app/server/node_modules
app/client/node_modules
app/client/typings
app/client/app/**/*.js
app/client/app/**/*.map
app/client/npm-debug.log
app/server/npm-debug.log