<div class="dashboard">
    <nav class="dashboard-nav">
        <a href="#" class="user">
            <img src="img/user.png" alt="imagem usuário">
            <p>João Maneiro</p>
        </a>


    </nav>

    <home></home>

    <div class="details" id="mesas" data-target="mesas">
        <h2>Mesas</h2>

        <div class="flex-box">
            <div class="box-categoria col-30">
                <h4>Adicionar novo</h4>
                <form action="">
                    <br>
                    <label for="nome">Cód</label> <br>
                    <input type="text" name="cod" id="cod"><br>
                    <label for="nome">Nome</label> <br>
                    <input type="text" name="nome" id="nome"><br>
                    <button type="submit" class="btn btn-salvar" >Enviar</button>
                </form>
            </div>
            <div class="box-categoria col-70">
                <h4>Lista Mesas</h4>
                <table class="table">
                    <tr>
                        <th>Cód</th>
                        <th>Nome</th>
                        <th>Excluir</th>
                    </tr>
                    <tr>
                        <td>m-01</td>
                        <td>Mesa 01</td>
                        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr>
                        <td>m-02</td>
                        <td>Mesa 02</td>
                        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    
                    
                </table>
            </div>
        </div>
    </div>

    <div class="details" id="categorias" data-target="categorias">
        <h2>Categorias</h2>                          
        <div class="flex-box">
            <div class="box-categoria col-30">
                <h4>Adicionar novo</h4>
                <form action="">
                    <br>
                    <label for="nome">Nome</label> <br>
                    <input type="text" name="nome" id="nome"><br>
                    <button type="submit" class="btn btn-salvar" >Enviar</button>
                </form>
            </div>
            <div class="box-categoria col-70">
                <h4>Lista Categorias</h4>
                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Excluir</th>
                    </tr>
                    <tr>
                        <td>Comida</td>
                        <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

    

    <div class="details" id="produtos" data-target="produtos">
        <h2>Produtos</h2>
        <div class="flex-box">
            <div class="box-categoria col-30">
                <h4>Adicionar novo</h4>
                <form action="">
                    <br>
                    <label for="nome">Cód</label> <br>
                    <input type="text" name="cod" id="cod"><br>
                    <label for="nome">Nome</label> <br>
                    <input type="text" name="nome" id="nome"><br>
                    <label for="nome">Preço</label> <br>
                    <input type="number" name="preco" id="preco"><br>
                    <label for="categorias">Categoria</label>
                    <select name="categorias" id="categoria">
                        <option value="comida">Comida</option>
                        <option value="bebida">Bebida</option>
                    </select><br>
                    <button type="submit" class="btn btn-salvar" >Enviar</button>                            
                </form>
            </div>
            <div class="box-categoria col-70">
                <h4>Lista Produtos</h4>
                <table class="table">
            <tabela></tabela>
        </table>
                
            </div>
        </div>
    </div>
</div>