<div class="details" id="mesas" data-target="mesas">
    <h2>Mesas</h2>

    <div class="flex-box">
        <div class="box-categoria col-30">
            <h4>Adicionar novo</h4>
            <mesas-form></mesas-form>
        </div>
        <div class="box-categoria col-70">
            <h4>Lista Mesas</h4>
            <table class="table">
                <tr>
                    <th>Cód</th>
                    <th>Nome</th>
                    <th>Excluir</th>
                </tr>
                <tr>
                    <td>m-01</td>
                    <td>Mesa 01</td>
                    <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
                <tr>
                    <td>m-02</td>
                    <td>Mesa 02</td>
                    <td><a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>


            </table>
        </div>
    </div>
</div>