<div class="details" id="mesas" data-target="home">
    <h2>Produtos</h2>
    <div class="allboxes">

        <div class="box-categoria ">
            <h4>Lista Produtos</h4>
            <table class="table">
                <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a [routerLink]="['/cadastrarproduto']" class="btn btn-salvar">
                                        Novo Produto
                                    </a>
                                </span>
                            </div>
                            <input #textoProcurado (keyup)="0" class="form-control" placeholder="filtrar pelo titulo do produto">
                        </form>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Cód</th>
                        <th>Nome </th>
                        <th>Descrição</th>
                        <!-- <th>Itens </th> -->
                        <th>Categoria</th>
                        <th>Valor </th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                    <tr *ngFor="let produto of produtos | filtroPorTitulo: textoProcurado.value">
                        <td>{{ produto.codigoProduto }}</td>
                        <td>{{ produto.nomeProduto }}</td>
        
                        <td>{{ produto.descricaoProduto }}</td>
                        <td>{{ produto.categoria }}</td>
                        <td>{{ produto.valorProduto }}</td>
                        <td><a class="btn btn-salvar" [routerLink]="['/cadastrarproduto', produto._id]" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        <td>
                            <botao nome="X" estilo="btn-cancelar" (acao)="remove(produto)"></botao>
                        </td>
                    </tr>
                </table>
        
            </table>
        
        </div>


    </div>
</div>



